#messageList {border: 4px inset blue;width: 50%; height: 70%; float: left;}
body{width: 100%; height: 100%;}
html{width: 100%; height: 100%;}
#input_panel{float: right;}
.input{border-radius: 2px 2px 2px 2px;}
#message{width: 40%; height: 30% }
.un{color:rgb(21, 255, 0)}
.un{color:blue}


#messageList
{
    overflow: scroll;
}