#messageList {border: 6px inset blue;width: 70%; height: 70%; float: left;}
body{width: 100%; height: 100%;}
html{width: 100%; height: 100%;}
#input_panel{float: right;}
.input{border-radius: 3px 3px 3px 3px;}
#message{width: 40%; height: 30% }
.un{color:rgb(21, 255, 0)}
.un{color:blue}
.Text{color:rgb(255, 0, 0)}
.Text{color:greenyellow}


#messageList
{
    overflow: scroll;
}